* {
    margin: 0;
    padding: 0;
    font-family: 'Montsserat', sans-serif;
    color: #4b4b4b;
    box-sizing: border-box;
}

.chatlist--header__image img {
    width: 48px;
    border-radius: 100%;
}

.chatlist,
.chatlist--header,
.app,
.list--item,
.view {
    display: flex;
}

.chatlist {
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
    width: 30%;
    border-right: 1px solid #eee;
}

.chatlist--header {
    justify-content: space-between;
    background-color: #eee;
    padding: 15px;
}

.chatlist--search {
    height: 49px;
    background: #f9f9f9;
}

.chatlist--header__icons {
    margin-top: 10px;
}

.chatlist--header__icons .material-icons {
    cursor: pointer;
}

.chatlist--header__icons .material-icons:first-child {
    margin-right: 20px;
}

.chatlist--search input {
    height: 34px;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #f6f6f6;
    box-sizing: border-box;
    padding-left: 35px;
    width: calc(100% - 28px);
    margin: 7px 12px;
    font-size: 14px;
}

.list {
    overflow-y: scroll;
    margin: 0 auto;
    white-space: wrap;
}

.list--item {
    padding: 15px;
    border-bottom: 1px solid #f5f5f5
}

.list--item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.list--item__image img {
    width: 60px;
    border-radius: 100%;
}

.list--item__details {
    margin-left: 20px;
}

.list--item__details h3 {
    line-height: 1.5;
    font-weight: 500;
}

.list--item__details p {
    font-size: 14px;
    line-height: 1.9;
}

.view--whatsapp {
    justify-content: center;
    align-items: center;
}

.view--whatsapp img {
    border-radius: 100%;
    width: 300px
}

.view--whatsapp h2 {
    padding: 10px;
    line-height: 1.3em;
}

.view--whatsapp,
p {
    line-height: 1.5em;
}